h1{
    color:#050505;
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    font-size: 70px;
}

#homenav a {
    display: flex;
    border-style: solid;
    border-width: 3px;
    padding: 12px;
    text-decoration: none;
    font-size: 45px;
    float: left;
    position: left;
}

#carnav a {
    border-style: solid;
    border-width: 3px;
    padding: 12px;
    text-decoration: none;
    font-size: 45px;
    float: right;
    position: right;
}

input {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    color: black;
    text-decoration: none;
    font-size: 25px;
    margin: 30px 150px auto;
    padding: 0px;
    width: 45%;
    text-align: center;
}

.toolname {
    width: 600px;
    height: 700px;
    border-style: solid;
    display: inline-block;
    position: relative;
    right: 250px;
    margin: 30px 250px auto;
    overflow-x: scroll;
}

.form-control{
    border-style: solid;
    position: relative;
    bottom: 738px;
    left: 500px;
    height: 700px;
}