<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarDBSM</title>
    <link rel="stylesheet" href="cars.css">
</head>
        
    <header>
        <nav id="homenav">
            <a href="/" style="color:black;">Home</a>
        </nav>
        <nav id="toolnav">
            <a href="/tools" style="color:black;">Tools</a>
        </nav>
        <nav id="toolnav">
            <a href="/client" style="color:black;">Client</a>
        </nav>
        <h1>Cars</h1>

        <div class="carname">
            <form action="#">
                <input type="text"
                    placeholder=" Search Car Model"
                    name="search">
            </form> 
        </div>

        <div class="discribe">
            <input class="form-control" type="text" 
                value="Readonly input here..." 
                aria-label="readonly input example" readonly>
        </div>

    </header>

</html>